In [1]:
import pandas as pd
import random as rd
Test1 = rd.sample(range(90,101),5)
Test2 = rd.sample(range(70,80),5)
print(Test1)
print(Test2)

Names = ['Pranav','Pavan','Krishna','Ram','Anu',]

TestScores_DataFrame = pd.DataFrame({'Math' : Test1 , 'Science' :Test2} , index = Names)

[100, 92, 91, 94, 98]
[74, 73, 71, 79, 72]

In [2]:
TestScores_DataFrame

         Math  Science
Pranav    100       74
Pavan      92       73
Krishna    91       71
Ram        94       79
Anu        98       72

In [3]:
def standardize_tests(test) :
    return ((test - test.mean())/test.std())

In [4]:
standardize_tests(TestScores_DataFrame['Math'])

Pranav     1.290994
Pavan     -0.774597
Krishna   -1.032796
Ram       -0.258199
Anu        0.774597
Name: Math, dtype: float64

In [14]:
def standardize_test_dataframe(dataframe) :
    return dataframe.apply(standardize_tests)

In [15]:
standardize_test_dataframe(TestScores_DataFrame)

           Test-1    Test-2
Pranav  -1.308921  1.697056
Pavan   -0.416475 -0.848528
Krishna -0.118993 -0.565685
Ram      0.475971 -0.282843
Anu      1.368417  0.000000