In [1]:
import pandas as pd

l1 = [1,2,3,4,5]
l2 = [x*10 for x in l1]
a1 = ['a','b','c','d','e']
a2 = ['c','e','f','g','h']
series_1 = pd.Series(l1,index = a1)
series_2 = pd.Series(l2 , index = a2)

In [2]:
series_1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
series_2

c    10
e    20
f    30
g    40
h    50
dtype: int64

In [4]:
series_1_2 = series_1 + series_2

In [5]:
series_1_2

a     NaN
b     NaN
c    13.0
d     NaN
e    25.0
f     NaN
g     NaN
h     NaN
dtype: float64

In [6]:
series_1_2.dropna()

c    13.0
e    25.0
dtype: float64

In [7]:
series_1_2.fillna('-')

a     -
b     -
c    13
d     -
e    25
f     -
g     -
h     -
dtype: object

In [11]:
series_add = series_1.add(series_2 , fill_value = 0)

In [12]:
series_add

a     1.0
b     2.0
c    13.0
d     4.0
e    25.0
f    30.0
g    40.0
h    50.0
dtype: float64