In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Series_1 = pd.Series(list('pranav'))
Series_1

0    p
1    r
2    a
3    n
4    a
5    v
dtype: object

In [ ]:
countries = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil',
                      'Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia',
                      'Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia',
                      'Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand',
                      'Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand',
                      'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])

In [ ]:
Countries_Series = pd.Series(countries)
GDP_Series = pd.Series([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,
                         4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,
                         6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,
                         1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,
                         5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,
                         33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,
                         5671.912202,757.4009286,347.7456605])

In [ ]:
Countries_Series

In [ ]:
GDP_Series

In [ ]:
GDP_Country = pd.Series([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,
                         4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,
                         6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,
                         1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,
                         5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,
                         33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,
                         5671.912202,757.4009286,347.7456605],index = Countries_Series)
GDP_Country_2 = GDP_Country

In [ ]:
GDP_Country

Algeria           2255.225482
Angola             629.955306
Argentina        11601.630220
Australia        25306.824940
Austria          27266.403350
                     ...
United States    37691.027330
Uruguay           9581.056590
Venezuela         5671.912202
Vietnam            757.400929
Zimbabwe           347.745660
Length: 63, dtype: float64

In [ ]:
"""
Similar index access and Slicing techniques can be used for the data elements in a series also
additionally we can either access by the index element or by the index location as a dictionary element
"""
print(GDP_Country['India'])
print(GDP_Country[1])

837.7464011
629.9553062

In [ ]:
print(GDP_Country + GDP_Country_2)

Algeria           4510.450964
Angola            1259.910612
Argentina        23203.260440
Australia        50613.649880
Austria          54532.806700
                     ...
United States    75382.054660
Uruguay          19162.113180
Venezuela        11343.824404
Vietnam           1514.801857
Zimbabwe           695.491321
Length: 63, dtype: float64

In [ ]:
olympic_data_list = pd.DataFrame({
				'HostCity' : ['London' , 'Tokyo' , 'Sydney' , 'Atlanta' ] ,
				'Year' : [2012 , 2008 , 2000 , 1996] ,
				'Participants' : [205,204,200,197]
				})
print(olympic_data_list)
print("Printing HostCity names")
print(olympic_data_list.HostCity)

  HostCity  Year  Participants
0   London  2012           205
1    Tokyo  2008           204
2   Sydney  2000           200
3  Atlanta  1996           197
Printing HostCity names
0     London
1      Tokyo
2     Sydney
3    Atlanta
Name: HostCity, dtype: object

In [ ]:
print("Creating a data frame from a dictionary")

student = pd.DataFrame({'London':{2012:205} , 'Beijing' : { 2008:204 }})
print(student)

Creating a data frame from a dictionary
      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

In [ ]:
print(student.describe)
print(olympic_data_list.describe)

<bound method NDFrame.describe of       London  Beijing
2012   205.0      NaN
2008     NaN    204.0>
<bound method NDFrame.describe of   HostCity  Year  Participants
0   London  2012           205
1    Tokyo  2008           204
2   Sydney  2000           200
3  Atlanta  1996           197>

General format is 
< Data_Frame name >  = pandas.DataFrame({'Column_NAme_1' : List , ... , 'Column_Name_n' : List})

In [ ]:
print(GDP_Series)
print(Countries_Series)

Creating a DataFrame from the alreadr existing series

In [ ]:
GDP_DataFrame = pd.DataFrame({"Country" : Countries_Series , "GDP" : GDP_Series } )

In [ ]:
print(GDP_DataFrame)
print(GDP_DataFrame.Country)
print(GDP_DataFrame.GDP )

          Country           GDP
0         Algeria   2255.225482
1          Angola    629.955306
2       Argentina  11601.630220
3       Australia  25306.824940
4         Austria  27266.403350
..            ...           ...
58  United States  37691.027330
59        Uruguay   9581.056590
60      Venezuela   5671.912202
61        Vietnam    757.400929
62       Zimbabwe    347.745660

[63 rows x 2 columns]
0           Algeria
1            Angola
2         Argentina
3         Australia
4           Austria
          ...
58    United States
59          Uruguay
60        Venezuela
61          Vietnam
62         Zimbabwe
Name: Country, Length: 63, dtype: object
0      2255.225482
1       629.955306
2     11601.630220
3     25306.824940
4     27266.403350
          ...
58    37691.027330
59     9581.056590
60     5671.912202
61      757.400929
62      347.745660
Name: GDP, Length: 63, dtype: float64