In [1]:
import pandas as pd
import random as rd
import sqlite3 as sql
import numpy as np

In [2]:
create_Student_Database = """
create table Student
(
SID INT , 
Name Varchar(40) Not Null,
Login Varchar(40),
Age INT Not Null ,
CGPA Float Not Null , 
Primary Key (SID) 
);
"""

In [3]:
executeSQL = sql.connect(':memory:')
executeSQL.execute(create_Student_Database)
executeSQL.commit()

In [4]:
SQL_query = executeSQL.execute("select * from Student")

In [5]:
result = SQL_query.fetchall()

In [6]:
result

[]

In [7]:
insertSQL = [(53777 , "Maeve" , "A@gfg" , 28 , 4 ),
             (53855 , "Samwel" , "B@gfg" , 26 , 3.5 ),
             (53699 , "C-Kay" , "C@gfg" , 22 , 3.9 )]

In [9]:
insert_statement = 'Insert into  Student values(?,?,?,?,?)'
executeSQL.executemany(insert_statement,insertSQL)
executeSQL.commit()

In [10]:
SQL_query = executeSQL.execute("select * from Student")

In [11]:
result = SQL_query.fetchall()

In [12]:
result

[(53777, 'Maeve', 'A@gfg', 28, 4.0),
 (53855, 'Samwel', 'B@gfg', 26, 3.5),
 (53699, 'C-Kay', 'C@gfg', 22, 3.9)]

In [17]:
Student_DataFrame = pd.DataFrame(result , columns = zip (*SQL_query.description)[0])

TypeError: 'zip' object is not subscriptable

In [18]:
Student_DataFrame

       0       1      2   3    4
0  53777   Maeve  A@gfg  28  4.0
1  53855  Samwel  B@gfg  26  3.5
2  53699   C-Kay  C@gfg  22  3.9